# <center> Curso Machine Learning e Imágenes en Python
    
* Docentes:  Dra. Valeria S. Rulloni - Dra. Ana Carolina Maldonado
* Colaboran: Ing. Juan Manuel López
* Ing. Axel Aguerreberry -  Ing. Sebastián Palacio



## Temario a desarrollar:
*	**Uso y herramientas básicas de Python**
*	Imágenes digitales: tipos (binarias, monocromáticas y a color)
*	Histograma. Mejora de la imagen: contraste, filtros: suavizado y detección de bordes.
*	Umbralado y Binarización. Operaciones Morfológicas: erosión, dilatación, cierre y apertura.
*	Aplicaciones
*	Clasificación de imágenes.
*	Aprendizaje automático
*	Aprendizaje profundo: Redes neuronales
*	Aplicaciones 


**Recomendación:**
+ Antes que nada **realice una copia de este archivo y trabaje en ella** (File-> Make a Copy, puede cambiarle el nombre fácilmente). Guárdelo en la misma carpeta de preferencia (si está en Colaboratory lo guarda por defecto en la carpeta Colaboratory del drive, se puede reubicar).

**CLASE 1:**  
**Uso Básico de Python** (en Colaboratory o con Jupyter Notebook):

## Inicio y consideraciones
+ Este archivo y todos los de extensión .ipynb se abren con Jupyter Notebook (de Anaconda) o Google Colaboratory y se dividen en bloques.
+ Básicamente: bloques de texto (Markdown) y otros de código (Code, en Python). 
+ Cualquier bloque se ejecuta con shift+enter o utilizando el botón Run.
+ Los bloques se pueden eliminar con el menú Edit. O con los botones correspondientes (cortar, copiar, pegar, desplazar).
+ El archivo se puede ejecutar en el entorno de Windows en la carpeta correspondiente (o desde cualquiera si se ha configurado el path) mediante el comando python en línea de comandos

**En los bloques de texto (Markdown)** :

* Mediante un doble clic en el bloque, posibilito la modificación del mismo.
* Para títulos se usa # y luego del símbolo # se debe dejar un espacio.
* Con varios ## se manejan los subtítulos por niveles y, con esto, el tamaño de la letra.
* Encerrando un texto entre uno o dos asteriscos se consigue texto en cursiva o negrita.

**En los bloques de código (Code)** :
* Si el renglón  empieza con # es comentario, si no, es instrucción.
* En una línea de instrucción, se pueda agregar al final un comentario luego de #.


**shift+enter** para ejecutar cada celda/bloque/Cell (o botón Run), tanto en bloque de textos como de códigos

# 1 Instrucciones Básicas

## 1.1 Datos

**Captura de Datos: input**  
**Muestra de Datos: print**

In [1]:
# Se pide el ingreso de un número por teclado y se muestra el número y el tipo de dato.
# Si no forzamos el tipo de dato en el ingreso, lo toma como string (cadena de caracteres)
numero = input("Dígame un número: ")
print("El nro ingresado es: ",numero)
print("El tipo del dato ingresado es ",type(numero))

Dígame un número:
El nro ingresado es:
El tipo del dato ingresado es  <class 'str'>

**Tipos de datos básicos en Python:**

int

float

str

bool

complex

**Si desea que el número corresponda a un tipo de dato numérico, por ejemplo número entero o flotante, debe darle la orden**

In [2]:
numero = int(input("Dígame un número: "))
print("El nro ingresado es: ", numero)
print("El tipo del dato ingresado es ",type(numero), "porque se lo forzó")

Dígame un número:

ValueError: invalid literal for int() with base 10: ''

**Asignación directa:**

In [ ]:
x=7  #variable de nombre x y con valor 7, tipo de la variable: int (entero)
print(x, type(x))

Si asignamos un valor numérico a una variable, esta define automáticamente el tipo.

Los números reales se almacenan en variables tipo "float".

Los valores que puede representar van desde ±2,2250738585072020 x 10308 hasta ±1,7976931348623157×10308, ya que utilizan 64 bits.

In [3]:
nroi=24
print("Asignacion de un número entero a una variable. El dato asignado es ",nroi," y su tipo es ",type(nroi))
nrof=24.0
print("Asignacion de un número real a una variable. El dato asignado es ",nrof," y su tipo es ",type(nrof))

#Asignamos un entero largo
nroL=456966786151987643
print("El dato asignado a la variable es ", nroL, "y su tipo es ",type(nroL))

Asignacion de un número entero a una variable. El dato asignado es  24  y su tipo es  <class 'int'>
Asignacion de un número real a una variable. El dato asignado es  24.0  y su tipo es  <class 'float'>
El dato asignado a la variable es  456966786151987643 y su tipo es  <class 'int'>

**También se pueden asignar valores utilizando notación científica**

In [4]:
nror=2e-3
print(nror)
print("El tipo de dato asignado con notación científica es ",type(nror))

0.002
El tipo de dato asignado con notación científica es  <class 'float'>

**En las versiones actuales no hace falta definir enteros long. Toma tantos bits para almacenar como haga falta**

In [5]:
#Se puede calcular el valor absoluto de un número 
nro=-3
print(nro)

c=abs(nro)
print(c)

-3
3

In [6]:
#Se pueden hacer asignaciones simultáneas:
nro_1, nro_2, nro_3, nro_4 , var = 0.348, -10.5, 1.5e2, 5, "hola"

print (nro_1, type(nro_1))
print (nro_2, type(nro_2))
print (nro_3, type(nro_3))
print (nro_4, type(nro_3))
print (var, type(var))

0.348 <class 'float'>
-10.5 <class 'float'>
150.0 <class 'float'>
5 <class 'float'>
hola <class 'str'>

**Puede convertir tipos de datos numéricos con las funciones
int(), float(), complex()**

In [7]:
h=type(3.4)
o=int(3.4)
l=float(3)
a=float(3.4)
print(h, o, l, a)
#float("palabra") #función inválida para dato string

<class 'float'> 3 3.0 3.4

In [8]:
#este bloque de código es para que pruebe con otros ejemplos similares de lo visto hasta ahora:

%who #para ver todas las variables definidas
%whos # para ver el detalle

No variables match your requested type.
No variables match your requested type.

## 1.2 Operaciones Aritméticas y asignación de variables

### Operaciones Aritméticas Elementales: + ,   - ,  *  ,  /   **

In [9]:
#Ingresando un número por teclado
x = float(input("Dígame un número, lo guardaremos en la variable x: "))
print("El nro ingresado es: ",x)

print("Tipo de x:")
print(type(x))  # Imprime el tipo (o `clase`) de x
print("Valor de la variable x es ",x)

Dígame un número, lo guardaremos en la variable x:

ValueError: could not convert string to float:

In [ ]:
print("El resultado de sumarle 1 es ",x+1)
print("restarle 1 da ",x-1)
print("multipliicar por dos da",x*2)
print("hacer x/2, devuelve ",x/2)
print("si elevamos al cuadrado a x ",x**2) 
print("Para imprimir varios valores en una línea:")
print(1,2,x,5*2) # imprime varios valores a la vez en la misma línea, separarlos por coma

### Operaciones entre enteros

In [ ]:
#Operaciones entre números enteros: cociente y resto (o módulo)
a=9
b=2
c=a//b #Cociente entre enteros
d=a%b #Resto entre enteros
print(a)
print(b)
print(c)#Cociente entre enteros- Devuelve 4
print(d)#Resto entre enteros- Devuelve 1

In [10]:
#este bloque de código es para que pruebe con otros ejemplos similares de lo visto hasta ahora:

**Ejercicio 1: Definir una variable $a$ con valor 5 y una variable $b$ que sea igual al cubo de la anterior más 2. Mostrarlas en pantalla**

In [11]:
a= 5
b= a**3+ 2
print(a)
print(b)

5
127

**Ejercicio 2: En el siguiente bloque o en un nuevo cuaderno (notebook) definir** 
* (a) la variable **var1** que contenga al número 10. Luego a 
* (b) **var2** como el doble de var y 
* (c) **var3** como el resultado de una cuenta combinada a su gusto.
* (d) Imprima los resultados

In [12]:
var1=10
var2=2*var1
var3= var1+ var2**2
print(var1)
print(var2)
print(var3)

10
20
410

## 1.3 Operadores (Opcional)

**Lista de Operadores de Asignación**

Operador =

Operador +=

Operador -=

Operador *=

Operador /=

Operador**=

Operador //=

Operador %=

In [21]:
# primero defino variables con valores (asigno valores a variables)
a, b, c, d = 21, 10, 5, 3
print(c, type(c))

5 <class 'int'>

In [22]:
#Bloque Opcional
#Ejemplos con el uso de operadores de asignación 
c += 1
#A c le suma 1 y el resultado es guardado en c
print ("Operador +=  c+=1| El valor de variable 'c' ahora es ", c)

c *= 10
#El valor guardado en c es multiplicado por el valor de a y el resultado es almacenado en c
print ("Operador *= | El nuevo valor de variable c, c*=10 es ", c)

c /= 10 
#Lo mismo que en el caso anterior con la división
print ("Operador /= | El nuevo valor de variable c, c/=10 es ", c)

b **= d
#Se eleva b al exponente d
print ("Operador **= | El nuevo valor de b, resultado de elevar b al exponente d, b**=d ", b)

b //= a
print ("Operador //= | El nuevo valor de b, resultado de dividir (en enteros) b por a, b//=a es ", b)


c %= d
# Se obtiene el resto de dividir c por d
print ("Operador %= | El nuevo valor de c, resto de la división en enteros, c por d, c%=d es ", c)

print(c,type(c))

Operador +=  c+=1| El valor de variable 'c' ahora es  6
Operador *= | El nuevo valor de variable c, c*=10 es  60
Operador /= | El nuevo valor de variable c, c/=10 es  6.0
Operador **= | El nuevo valor de b, resultado de elevar b al exponente d, b**=d  1000
Operador //= | El nuevo valor de b, resultado de dividir (en enteros) b por a, b//=a es  47
Operador %= | El nuevo valor de c, resto de la división en enteros, c por d, c%=d es  0.0
0.0 <class 'float'>

In [19]:
#Bloque Opcional
#más ejemplos mezclados
y=2.5
print(y, type(y))
x=3
z=x*y
print(z,type(z))
z+=x  #Equivale a z=z+x
print(z)
z-=y #Equivale a z=z-y
print(z)

2.5 <class 'float'>
7.5 <class 'float'>
10.5
8.0

**Ejercicio 3: En el siguiente bloque o en un nuevo cuaderno (notebook) definir, usando los operadores de asignación:** 
* (a) Definir una variable **x** que contenga al número 30. Luego 
* (b) cambiarla por el resto de dividir a **x** por 7 y 
* (c) luego como el resultado de una cuenta combinada a su gusto.
* (d) Imprima los resultados parciales y el final

In [24]:
x= 30
print(x)
x= x%7
print(x)
x= x+1
print(x)

30
2
3

## 1.4 Datos booleanos (True y False)

In [25]:
#Tipo de dato booleano: 'bool', solo dos valores posibles, binario
v1 = True #el valor verdadero: True 
v2 = False #el valor falso: False

print("Valor de v1: ",v1, "Su tipo es: ", type(v1))
print("Valor de v2: ",v2, "Su tipo es: ", type(v2))
print()

Valor de v1:  True Su tipo es:  <class 'bool'>
Valor de v2:  False Su tipo es:  <class 'bool'>

### Operaciones Lógicas AND, OR y NOT**

In [ ]:
#Operaciones Lógicas y, o y negación
print("v1 and v2= ", v1 and v2) # y lógico; imprime False
print("v1 or v2= ",v1 or v2)  # o lógico; imprime True
print("v1 negado= ",not v1)   # negación lógica, imprime False

### Comparaciones

### Operadores para comparar: (devuelven un valor booleano)

#### == ;    !=  ;   <   ;    >  ;     <=   ;     >=

In [ ]:
#Comparaciones 
print ("3==5",3 == 5)  # Imprime False ya que son distintos
print("3 !=6",3 != 6)  # Imprime True ya que son distintos
print("3<5",3 < 5)  # Imprime True ya que 3 es menor que 5

**Ejercicio 4:** 
* Defina dos variables booleanas: A y B.
* defina una variable C que devuelva True sólo si A y B son verdaderas (True) y D que devuelva True si A es True o C es True.
* Reasigne valores a A y B usando comparaciones de números.
* imprima en el proceso

In [15]:
a= True
b= False
if a and b:
    c= True
    print(c)
if a or c:
    d= True
    print(d)

True

**Ejercicio 5:** 
* Asigne el valor 7 a la variable $x$.
* Verifique e imprima la veracidad de la siguiente afirmación: $x^2+5-2$ igual a $(x*5-9)*2$, para el valor $x$ asignado en el item anterior, usando las herramientas vistas hasta el momento.
* Verifique e imprima que no es cierto si x es -7

In [20]:
x=7
x1= x**2 +3 
x2= ((x* 5) - 9)*2
print(x1== x2)
print(x==-7)

True
False

## 1.5 Listas 
### Los elementos de una lista se colocan entre corchetes, separados por comas

In [21]:
#Definamos una Lista
#Para hacerlo se usan corchetes y se separan los elementos mediante coma
lista=[1,3,5]
print("lista= ",lista, "su tipo es ", type(lista))

lista=  [1, 3, 5] su tipo es  <class 'list'>

In [28]:
print(lista[-1])#muestra el ultimo elemento y va de atras hacia adelante

5

In [22]:
#acceso a un elemento de la lista
print(lista[0]) #el primer índice es el 0

1

In [24]:
#genere una lista de elementos, puede contener elementos de distinto tipo, complete:
l=[2,l,3]
print(l)
print(l[1],'segundo elemento de la lista')

[2, 3.0, 3]
3.0 segundo elemento de la lista

Para copiar una variable, una lista  
se usa  .copy()

In [25]:
listavieja=['gato', 1, 2,3]
listanueva=listavieja.copy() #copiamos una lista
print('lista vieja ',listavieja)
print('lista nueva igual a lista vieja', listanueva)

lista vieja  ['gato', 1, 2, 3]
lista nueva igual a lista vieja ['gato', 1, 2, 3]

In [26]:
listanueva[0]=5
#Cambio en la lista nueva el primer lugar

print('lista nueva ', listanueva)

lista nueva  [5, 1, 2, 3]

In [27]:
print('lista vieja ',listavieja)

lista vieja  ['gato', 1, 2, 3]

In [31]:
listanueva.sort()
print(listanueva)

[1, 2, 3, 5]

In [33]:
listanueva.sort(reverse=True)
print(listanueva)

[5, 3, 2, 1]

### Operador in

In [34]:
#Definamos una Lista
lista=[1,3,5] #Para hacerlo se usan corchetes y se separan los elementos mediante coma

print(2 in lista) #devuelve booleano

False

In [35]:
a=5
res=a in lista
print(res) #notemos que devuelve un dato booleano

True

### Operador not in

In [36]:
lista=[1,3,5]
print(1 not in lista)

False

### Seguimos con Tipo lista (de strings, de datos numéricos)
* Concatenación de Listas: + 
* Append
* Acceso a un elemento particular de la lista (por la posición que se indica entre corchetes
* Primer elemento de una lista: posición 0
* Diferencia entre Lista y Vector: la lista puede contener elementos de distinto tipo!

In [37]:
xs = [3, 1, 7]    # Crea una lista. Los elementos se colocan entre corchetes, separados por coma.
print(xs[-1])     # Indice negativo: implica que se cuenta desde el final de la lista; muestra "7"

7

In [38]:
xs[2] = 'foo'     # Cambia el elemento final. Ahora la lista contiene elementos de distinto tipo
print(xs)         # Muestra "[3, 1, 'foo']"

[3, 1, 'foo']

In [39]:
xs.append('bar')  # Agrego un nuevo elemento al final
print(xs)         # Muestra "[3, 1, 'foo', 'bar']" cuando se ejecuta una vez, probar que pasa si se ejecuta varias veces

[3, 1, 'foo', 'bar']

In [40]:
x = xs.pop()      # Quito el último elemento de la lista y lo guardo en x
print(x, xs)      # Muestro el elemento que quitamos y la lista que quedó: "bar [3, 1, 'foo']"

bar [3, 1, 'foo']

In [41]:
#Ejemplos
lista1=["hola", "que", "tal","Juan"]
print("lista1=", lista1)
print(type(lista1)) #muestra el tipo lista
print(type(lista1[0])) #muestra el tipo del elemento 0 (el primero)
print(max(lista1)) #Para strings tiene en cuenta el código ASCII. 
# En el código ASCII las mayúsculas preceden a las minúsculas
print(min(lista1))
print(len(lista1))

lista2=[25.,75,0, 8., 20.] 
print("lista2=", lista2)
print(type(lista2))
print(type(lista2[0]))
print(max(lista2))
print(min(lista2))
print(len(lista2))

lista1= ['hola', 'que', 'tal', 'Juan']
<class 'list'>
<class 'str'>
tal
Juan
4
lista2= [25.0, 75, 0, 8.0, 20.0]
<class 'list'>
<class 'float'>
75
0
5

In [45]:
lista1.sort()
print(lista1)

['Juan', 'hola', 'que', 'tal']

In [46]:
concatenada=lista1+lista2 #El signo + concatena listas, no es suma en este caso
print(concatenada)
print(type(concatenada))
print(type(concatenada[0]))
#No puede dar el máximo ni el mínimo porque los elementos son de distinto tipo: str y float

print(lista2+lista2)
lista2.extend(lista2)#Otro método de concatenación
print(lista2)

#print(lista2+2)#Esta operación daría error- Esta operación no es soportada por una lista
# para trabajar con vectores debemos utilizar la librería numpy

['Juan', 'hola', 'que', 'tal', 25.0, 75, 0, 8.0, 20.0, 25.0, 75, 0, 8.0, 20.0]
<class 'list'>
<class 'str'>
[25.0, 75, 0, 8.0, 20.0, 25.0, 75, 0, 8.0, 20.0, 25.0, 75, 0, 8.0, 20.0, 25.0, 75, 0, 8.0, 20.0]
[25.0, 75, 0, 8.0, 20.0, 25.0, 75, 0, 8.0, 20.0, 25.0, 75, 0, 8.0, 20.0, 25.0, 75, 0, 8.0, 20.0]

# 2. Funciones Definidas por el Usuario

*Las funciones se definen con la palabra clave def*

**Sintaxis**

def nombre_funcion(parametros):
    
    Cuerpo de la función
    
    return

**Ejemplo de una función**

In [47]:
def sumar(a,b):
    return a+b
#hay que ejecutar la celda para que la función quede en memoria

**Llamada a la función**

In [48]:
c=sumar(2,5)
print("La suma es")
print(c)

La suma es
7

**Llamada a la función**

**Ejercicio 6:**
* defina una función sencilla con dos parámetros
* impleméntela en dos valores concretos

In [49]:
def multi(a, b):
    return a*b

In [50]:
multi(2,3)

6